/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    width: 100%;
}

html, body {
    height: 100%;
}

.container {
    position: relative;
}

h1 {
    color: pink;
    font-size: 100px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.container {
    height: 100%;
    width: auto;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/sky.jpg);
    background-size: cover;
    display: none;
}

.plane {

    position: fixed;
    left: 300px;
    top: 90%;
    margin-left: -67px;
    -webkit-transform: rotate(0deg);
}

.hearts1{
     float: right;
    position: fixed;
    left: 75%;

   height: 5%;
   
   

}
.hearts2{
     float: right;
    position: fixed;
    left: 80%;

   height: 5%;
   
   

}
.hearts3{
     float: right;
    position: fixed;
    left: 85%;

   height: 5%;
   
   

}

.badplane1{
    height: 10%;
    float: right;
    position: absolute;
    left: 20%;
}

.badplane2{
    height: 10%;
    float: right;
    position: absolute;
    left: 30%;
   
}
.badplane3{
    height: 10%;
    float: right;
    position: absolute;
    left: 40%;
    
}
.badplane4{
    height: 10%;
    float: right;
    position: absolute;
    left: 50%;

}

.badplane5{
    height: 10%;
    float: right;
    position: absolute;
    left: 60%;

}
.badplane6{
    height: 10%;
    float: right;
    position: absolute;
    left: 70%;

}
.badplane7{
    height: 10%;
    float: right;
    position: absolute;
    left: 20%;
    top: 20%;

}
.badplane8{
    height: 10%;
    float: right;
    position: absolute;
    left: 30%;

}

.bullet{
    width:34px;
    height:50px;
    float: right;
    bottom: 30%;
    position: absolute;
    left:50%;
    background:url("../img/BULLET.png") no-repeat;
}

.invisible{
    display:none;
}

input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 150px;
    height: 50px;

}



@media (min-width: 480px) {
    .simon {
        font-size: 12px;
    }
}

@media (min-width: 600px) {
    .simon {
        font-size: 15px;
    }
}

@media (min-width: 800px) {
    .simon {
        font-size: 18px;
    }
}








/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}